.carousel-item img{
    height: 400px;
}

.card-columns{
    margin-top: 50px;
}
.bg-primary {
    background-color: #f1f1f1 !important;
}

.card-columns .card {
    box-shadow: 5px 5px 5px #ccc;
}
h1{
    margin-top: 30px;
    font-style: italic;
    text-shadow: 2px 2px #ccc;
    color: #0292a7;
}
footer{
  
    background-color: #000;
    color: #fff;
    
}